
#closeThis {
	cursor: crosshair;
	display: inline-block;
}
#hostip{
	display: inline-block;
}
div.dt-container {
    /* margin: 0 auto; */
    width: 60%;
}

.hide {
	display: none;
}

.dt-container {
	margin: unset;
}

.one,
.two,
.three{
  display: inline-block;
}

.processBtn{
}
div.processStatus{
	float:left;
	height: 15px;
	width:  40px;
	border-style: solid;
	background-color: powderblue;
}
div.backGroudRed{
	background-color: red;
}
div.backGroudGreen{
	background-color: springgreen;
}


#cfg{
    width: 780px;
    height: 500px;
}